<nav class="navbar navbar-default" role="navigation">

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="{{ path('homepage') }}">"Home"</a></li>
            <li><a href="{{ path('inmuebles_list') }}">"Inmuebles"}}</a></li>
        </ul>
    </div>

</nav>